@import "grid.scss";
@import "responsive.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,800);

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.sect{
    width: auto;
    padding: 0px;
    height: auto !important;    
}

.row{
    padding: 20px;
}
.top{
    background: #000;
    height: auto;
    overflow: hidden !important;
    background-image: url(../img/frecre-cover-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    // position: relative;
    // -webkit-filter: blur(4px);
    // filter: blur(4px);
    // position: absolute;
    width: 100%;
    // height: 100% !important;
    top: 0;
    left: 0;
    z-index: 90;
    &::after{
        display: block;
        height: 100%;
        width: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(0,0,0,0.5);
    }
    .top-contents{
        position: relative;
        z-index: 120;
    }
    .top-details{
        width: 100%;
        height: auto;
        // position: absolute;
        // z-index: 100;
        // padding: 100px;
        text-align: center;
        img{
            display: block;
            width: 400px;
            margin: 0 auto;
        }
        h1{
            color: #fff;
            margin: 80px 0px;
            font-size: 32px;
            text-transform: uppercase;
            letter-spacing: 20px;
        }
    }
}

nav{
    width: 100%;
    background: #fff;
    padding: 20px 0px;
    position: absolute;
    top: 0;
    z-index: 120;
    .nav-links{
        width: 1300px;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        &::after{
            content: " ";
            display: block;
            clear: both;
        }
        li{
            flex-grow: 1;
            display: inline-block;
            width: 15%;
            float: left;
            padding: 0 30px;
            text-align: center;
            a{
                font-weight: 700;
                letter-spacing: 3px;
                text-decoration: none;
            }
            &:nth-child(1){
                a{ 
                    color: #AF309F;
                }
            }
            &:nth-child(2){
                a{
                    color: #5176BA;
                }
                
            }
            &:nth-child(3){
                a{
                    color: #50AEB6;
                }
            }
            &:nth-child(4){
                a{
                    color: #43B749;
                }
            }
            &:nth-child(5){
                a{
                    color: #DEC939; 
                }
                
            }
            &:nth-child(6){
                a{
                    color: #EA4041;
                }
            }
        }

    }
}

.mission{
    margin-bottom: 10px;
    position: relative;
    .backdrop{
        background: #AF309F;
        height: 260px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.team-card{
    .backdrop{
        background: #303FAF;
        height: 260px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .floating-card{
        h1{
           color: #303FAF;
        }
    }
}

.floating-card{
    width: 100%;
    margin: 0px auto;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    padding: 20px 80px;
    &::after{
        content: " ";
        display: block;
        clear: both;
    }
    h1{
        font-weight: 800;
        font-size: 40px;
        color: #AF309F;
        margin: 20px 0px;
        letter-spacing: 10px;
        text-align: center;
    }
    h2{  
        margin: 50px 0px;
        font-weight: 800;
        color: #AF309F;
        text-align: center;
    }
    p{
        color: rgba(0,0,0,0.4);
        line-height: 30px;
    }
}

.profile-card{
    width: 300px;
    margin: 70px auto;
    text-align: center;
    img{
        height: auto;
        width: 150px;
        margin: 0 auto;
        display: block;
    }
    h5{
        font-weight: 300;
        letter-spacing: 3px;
        color: rgba(0,0,0,0.4);
    }
}

.products{
    background: #F7F7F7;
    .assets{
        h1{
            font-weight: 800;
            font-size: 60px;
            color: #808080;
            margin: 70px 0px;
            letter-spacing: 10px;
            text-align: center;
        }
    }
    .product-card{
        width: 100%;
        text-align: center;
        img{
            display: block;
            width: 120px;
            height: auto;
            margin: 0 auto;
        }
        h1{
            margin: 50px 0px;
            color: #808080;
            font-weight: 300;
        }
    }
}

footer{
    padding: 50px;
    background: #606060;
    img{
        display: block;
        width: 100px;
        margin: 40px auto;
    }
    ul{
        display: flex;
        flex-direction: row;
        width: 400px;
        height: auto;
        margin: 80px auto;
        font-weight: 800;
        letter-spacing: 3px;
        padding: 0;
        &::after{
            content: " ";
            display: none;
            clear: both;
        }
        li{
            flex-grow: 1;
            display:block;
            text-align: center;
            color: #fff;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
         
    }
    p{
        display: block;
        text-align: center;
        color: #fff;
    }
}

.team-row{
    display: flex;
    flex-direction: row;
    div{
        flex-grow: 1;
    }
}
.form{

    font-size: 12px !important;
    h4{
        margin: 13px 15px;
       
    }
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.form-input-container{
    h4{
        text-align: center;
         display: inline-block !important;
         vertical-align: middle;
    }
    input, select, textarea{
        vertical-align: middle;
    }
    textarea{
        height: 100px;
        resize: none;
    }
    &::after{
        content: "";
        display: block;
        clear: both;
    }
}
.form-input{
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    width: 70%;
    float: right;
    margin: 3px 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px !important;
    background: rgba(0,0,0,0.05);
}
select.form-input{
    font-size: 12px;
    &::after{
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        height: 0;
        width: 0;
        border-top: 10px solid #000w;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
}
.submit-btn{
    transition: all 0.3s ease-in-out;
    padding: 15px 50px;
    background: #303FAF;
    border: 0px;
    margin: 10px;
    color: #fff;
    font-size: 26px;
    float: right;
    &:hover{
        box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    }
}