extends layout

block content
    form(action='/analytics/general',method='post')
        p.
            From
        input(id='from', name="from", type='text')
        p.
            To
        input(id='to', name="to", type='text')
        input(id='submit',type='submit',value='Generate')
    table#example
    script(type='text/javascript').
        $(document).ready(function() {
            $('#from').datepicker({dateFormat: 'yy-mm-dd'});
            $('#to').datepicker({dateFormat: 'yy-mm-dd'});
            renderTable();
        });

        function renderTable(){
            var data = !{JSON.stringify(results)}
                $('#example').DataTable({
                    "data": data,
                    "columns": [
                        {   "data" : "DATE",
                            "title": "Date" },
                        {   "data" : "DAU",
                            "title": "DAU" },
                        {   "data" : "RDAU",
                            "title": "RDAU" },
                        {   "data" : "Installs",
                            "title": "Installs" },
                        {   "data" : "1DR",
                            "title": "1DR" },
                        {   "data" : "3DR",
                            "title": "3DR" },
                        {   "data" : "7DR",
                            "title": "7DR" },
                        {   "data" : "Purchase User",
                            "title": "Purchase User" },
                        {   "data" : "Purchase Amount",
                            "title": "Purchase Amount" },
                        {   "data" : "Purchase Rate",
                            "title": "Purchase Rate" },
                        {   "data" : "Max Purchase Amount",
                            "title": "Max Purchase Amount" },
                        {   "data" : "ARPU",
                            "title": "ARPU" },
                        {   "data" : "ARPPU",
                            "title": "ARPPU" }
                    ],
                    "columnDefs": [{
                        "defaultContent": "-",
                        "targets": "_all"
                    },{
                        "className": "dt-center", 
                        "targets": "_all"
                    }]
                });
        }
        