@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,800);
* {
  box-sizing: border-box; }

.container {
  width: 1200px;
  margin: 0px auto; }
  .container.fit {
    width: 100%; }
  .container .row::after {
    content: " ";
    display: block;
    clear: both; }
  .container .row .column {
    float: left;
    padding: 3px;}
    .container .row .column.half {
      width: 50%; }
    .container .row .column.one {
      width: 33.33%; }
    .container .row .column.two {
      width: 66.66%; }
    .container .row .column.three {
      width: 100%; }

@media (max-width: 1024px) {
  .container {
    width: 100% !important; }
    .container .column {
      width: 100% !important; }
    .container .row {
      padding: 0; } }
@media (max-width: 1024px) {
  .top {
    height: 100% !important; }

  .top-details img {
    width: 100% !important; }

  .floating-card {
    padding: 20px !important;
    box-shadow: none !important; }
    .floating-card h1 {
      font-size: 30px !important; }
    .floating-card .mission-author {
      width: 100% !important; }

  .assets h1 {
    font-size: 30px !important; }

  footer ul {
    width: 100% !important; } }
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; }

.sect {
  width: auto;
  padding: 0px;
  height: auto !important; }

.row {
  padding: 20px; }

.top {
  background: #000;
  height: auto;
  overflow: hidden !important;
  background-image: url(../img/frecre-cover-1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90; }
  .top::after {
    display: block;
    height: 100%;
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5); }
  .top .top-contents {
    position: relative;
    z-index: 120; }
  .top .top-details {
    width: 100%;
    height: auto;
    text-align: center; }
    .top .top-details img {
      display: block;
      width: 400px;
      margin: 0 auto; }
    .top .top-details h1 {
      color: #fff;
      margin: 80px 0px;
      font-size: 32px;
      text-transform: uppercase;
      letter-spacing: 20px; }

nav {
  width: 100%;
  background: #fff;
  padding: 20px 0px;
  position: absolute;
  top: 0;
  z-index: 120; }
  nav .nav-links {
    width: 1300px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row; }
    nav .nav-links::after {
      content: " ";
      display: block;
      clear: both; }
    nav .nav-links li {
      flex-grow: 1;
      display: inline-block;
      width: 15%;
      float: left;
      padding: 0 30px;
      text-align: center; }
      nav .nav-links li a {
        font-weight: 700;
        letter-spacing: 3px;
        text-decoration: none; }
      nav .nav-links li:nth-child(1) a {
        color: #AF309F; }
      nav .nav-links li:nth-child(2) a {
        color: #5176BA; }
      nav .nav-links li:nth-child(3) a {
        color: #50AEB6; }
      nav .nav-links li:nth-child(4) a {
        color: #43B749; }
      nav .nav-links li:nth-child(5) a {
        color: #DEC939; }
      nav .nav-links li:nth-child(6) a {
        color: #EA4041; }

.mission {
  margin-bottom: 10px;
  position: relative; }
  .mission .backdrop {
    background: #AF309F;
    height: 260px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.team-card .backdrop {
  background: #303FAF;
  height: 260px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }
.team-card .floating-card h1 {
  color: #303FAF; }

.floating-card {
  width: 100%;
  margin: 0px auto;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  padding: 20px 80px; }
  .floating-card::after {
    content: " ";
    display: block;
    clear: both; }
  .floating-card h1 {
    font-weight: 800;
    font-size: 40px;
    color: #AF309F;
    margin: 20px 0px;
    letter-spacing: 10px;
    text-align: center; }
  .floating-card h2 {
    margin: 50px 0px;
    font-weight: 800;
    color: #AF309F;
    text-align: center; }
  .floating-card p {
    color: rgba(0, 0, 0, 0.4);
    line-height: 30px; }

.profile-card {
  width: 300px;
  margin: 70px auto;
  text-align: center; }
  .profile-card img {
    height: auto;
    width: 150px;
    margin: 0 auto;
    display: block; }
  .profile-card h5 {
    font-weight: 300;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.4); }

.products {
  background: #F7F7F7; }
  .products .assets h1 {
    font-weight: 800;
    font-size: 60px;
    color: #808080;
    margin: 70px 0px;
    letter-spacing: 10px;
    text-align: center; }
  .products .product-card {
    width: 100%;
    text-align: center; }
    .products .product-card img {
      display: block;
      width: 120px;
      height: auto;
      margin: 0 auto; }
    .products .product-card h1 {
      margin: 50px 0px;
      color: #808080;
      font-weight: 300; }

footer {
  padding: 50px;
  background: #606060; }
  footer img {
    display: block;
    width: 100px;
    margin: 40px auto; }
  footer ul {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: auto;
    margin: 80px auto;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 0; }
    footer ul::after {
      content: " ";
      display: none;
      clear: both; }
    footer ul li {
      flex-grow: 1;
      display: block;
      text-align: center;
      color: #fff; }
      footer ul li a {
        color: #fff;
        text-decoration: none; }
  footer p {
    display: block;
    text-align: center;
    color: #fff; }

.team-row {
  display: flex;
  flex-direction: row; }
  .team-row div {
    flex-grow: 1; }

.form {
  font-size: 12px !important; }
  .form h4 {
    margin: 13px 15px; }
  .form::after {
    content: "";
    display: block;
    clear: both; }

.form-input-container h4 {
  text-align: center;
  display: inline-block !important;
  vertical-align: middle; }
.form-input-container input, .form-input-container select, .form-input-container textarea {
  vertical-align: middle; }
.form-input-container textarea {
  height: 100px;
  resize: none; }
.form-input-container::after {
  content: "";
  display: block;
  clear: both; }

.form-input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 70%;
  float: right;
  margin: 3px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px !important;
  background: rgba(0, 0, 0, 0.05); }

select.form-input {
  font-size: 12px; }
  select.form-input::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    height: 0;
    width: 0;
    border-top: 10px solid #000 w;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }

.submit-btn {
  transition: all 0.3s ease-in-out;
  padding: 15px 50px;
  background: #303FAF;
  border: 0px;
  margin: 10px;
  color: #fff;
  font-size: 26px;
  float: right; }
  .submit-btn:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=styles.css.map */
.loader-container{
  background: rgba(255,255,255,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
}

.spinner {
  position: relative;
  top: 200px;
  width: 80px;
  height: 80px;
  margin: auto;
  background-color: #303FAF;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}