<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Analytics</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
    <!-- <script src="https://use.fontawesome.com/24dd1f9e54.js"></script> -->
    <link rel="stylesheet" type="text/css" href="assets/css/jquery-ui.min.css"/>
  </head>


<body>